services:
  microservicio-orden-pago:
    build:
      context: ./demo
      dockerfile: Dockerfile
    container_name: microservicio-orden-pago
    network_mode: host
    environment:
      - SPRING_PROFILES_ACTIVE=prod
