services:
  microservicio-orden-pago:
    image: orsantiago23/clase-11380-microservicio-ordenpago
    container_name: microservicio-orden-pago-app
    ports:
      - "8084:8084"
    environment:
      - SPRING_PROFILES_ACTIVE=spring
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://keycloak:8080/realms/microservices-ecosystem
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://keycloak:8080/realms/microservices-ecosystem/protocol/openid-connect/certs
      - KEYCLOAK_AUTH_SERVER_URL=http://keycloak:8080
      - SPRING_CLOUD_STREAM_KAFKA_BINDER_BROKERS=kafka:29092
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:29092
      - SPRING_CLOUD_STREAM_KAFKA_BINDER_CONFIGURATION_KEY_SERIALIZER=org.apache.kafka.common.serialization.StringSerializer
      - SPRING_CLOUD_STREAM_KAFKA_BINDER_CONFIGURATION_VALUE_SERIALIZER=org.springframework.kafka.support.serializer.JsonSerializer
      - SPRING_CLOUD_STREAM_KAFKA_BINDER_CONFIGURATION_KEY_DESERIALIZER=org.apache.kafka.common.serialization.StringDeserializer
      - SPRING_CLOUD_STREAM_KAFKA_BINDER_CONFIGURATION_VALUE_DESERIALIZER=org.springframework.kafka.support.serializer.JsonDeserializer
      - EUREKA_CLIENT_ENABLED=false
      - SERVER_ADDRESS=0.0.0.0

networks:
  kafka-network:
    driver: bridge
